In [1]:
l = [1, 2, 3]

In [2]:
l.append(4)

In [3]:
l

[1, 2, 3, 4]

In [4]:
stack = ['a', 'b', 'c']
stack.extend(['d', 'e','f'])
stack

['a', 'b', 'c', 'd', 'e', 'f']

In [5]:
my_list = ['a','b','c','b', 'a']
my_list.index('b')

1

In [6]:
my_list.insert(2, 'a')
my_list

['a', 'b', 'a', 'c', 'b', 'a']

In [7]:
my_list.remove('a')
my_list

['b', 'a', 'c', 'b', 'a']

In [8]:
my_list.pop()

'a'

In [9]:
my_list

['b', 'a', 'c', 'b']

In [10]:
my_list.count('b')

2

In [11]:
my_list.sort()
my_list

['a', 'b', 'b', 'c']

##Dictionaries

In [12]:
d = {'first':'string value', 'second':[1,2]}
d.keys()

dict_keys(['first', 'second'])

In [13]:
d = {'first':'string value', 'second':[1,2]}
d.items()

dict_items([('first', 'string value'), ('second', [1, 2])])

In [16]:
d.get('first')

'string value'

In [17]:
d.pop('first')

'string value'

In [19]:
d1 = {'a': [1,2]}
d2 = d1.copy()

In [20]:
d2

{'a': [1, 2]}

In [21]:
d = {'a':1, 'b':2, 'c':3}
del d['a']

In [22]:
d

{'b': 2, 'c': 3}

In [24]:
d1 = {'a':1}
d2 = {'a':2, 'b':2}
d1.update(d2)
d1['a']

2

##Sets

In [25]:
a = set([1, 2, 3])
b = set([2, 3, 4])
c = a.intersection(b) # equivalent to c = a & b
a.intersection(b)

{2, 3}

In [26]:
c.issubset(a)

True

In [27]:
 c.issuperset(a)

False

In [28]:
a.difference(b)

{1}

In [29]:
a.symmetric_difference(b)

{1, 4}

In [30]:
a.copy()

{1, 2, 3}

##Tuples

In [31]:
l = (1, 2, 3)
l[0]

1

In [32]:
l = (1,2,3,1)
l.count(1)

2

In [33]:
t= (1,2,3,4,6,8,3,5)
len(t)

8

In [34]:
t = (1,2,3,4,5)
t[2:]

(3, 4, 5)

In [35]:
str(t)

'(1, 2, 3, 4, 5)'

In [36]:
t = (1, 2, 3)
max(t)

3

##Strings

In [37]:
t = 'This is a test'
t2 = t+t

In [38]:
t2

'This is a testThis is a test'

In [39]:
"44".isdigit()

True

In [40]:
"44".isalpha()

False

In [41]:
"Aa".isupper()

False

In [42]:
"Aa".istitle()

True

In [43]:
mystr = "This is a string"
mystr.count('i')

3

In [44]:
mystr = "this is a dummy string"

In [45]:
mystr.title()

'This Is A Dummy String'

In [46]:
mystr.upper()

'THIS IS A DUMMY STRING'

In [47]:
mystr.swapcase()

'THIS IS A DUMMY STRING'

In [48]:
mystr = "this is a dummy string"
mystr.replace('dummy', 'great', 1)

'this is a great string'

In [49]:
message = ' '.join(['this' ,'is', 'a', 'useful', 'method'])
message.rsplit(' ', 2)

['this is a', 'useful', 'method']

In [50]:
"this is an exemple".split(" is ")

['this', 'an exemple']